<div class="container-fluid">
  <div class="row">
    <div class="col d-flex justify-content-end me-4">
      <button class="btn btn-success" routerLink="Create">Agregar Vehículo</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Modelo</th>
            <th>Marca</th>
            <th>Año</th>
            <th>Color</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for(item of paginatedResult()?.items; let idx = $index; track idx) {
            
          }
          <tr *ngFor="let vehicle of paginatedResult()?.items">
            <td scope="col">{{ vehicle.id }}</td>
            <td scope="col">{{ vehicle.model }}</td>
            <td scope="col">{{ vehicle.brand?.name }}</td>
            <td scope="col">{{ vehicle.year }}</td>
            <td scope="col">{{ vehicle.color }}</td>
            <td scope="col">
              <div class="d-flex justify-content-end">
                <button class="btn btn-outline-primary me-2" [routerLink]="[ vehicle.id ]">
                  Detalles
                </button>
                <button class="btn btn-outline-danger" (click)="removeItem($any(vehicle.id))">
                  Eliminar
                </button>
              </div>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
